* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    margin: 2%;
}

.container-p {
    padding-left: 8%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: 150px 50px 250px auto;
    gap: 20px;
}

.cont-h {
    align-items: baseline;
    width: auto;
}

.c1 {
    background-color: #FFDDD2 ;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.c1 img {
    border-radius: 20%;
}

.c2 {
    background-color:#83C5BE;
    grid-column: 4/12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid black;
}

.c3 {
    background-color: #FFDDD2 ;
    grid-column: 1/12;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.linea {
    margin-top: 10px;
    border-left: 3px solid black;
    height: 25px;
}

nav ul {
    display: flex;
    margin-right: 3%;
    margin-left: 3%;
}

nav ul li {
    display: flex;
    text-align: center;
    font-weight: 100;
    font-size: smaller;
}

nav ul li a {
    text-decoration: none;
    padding: 15px;
    color: rgb(49, 46, 46);
}

.content {
    background-color:#eededb ;
    padding: 20px;
    grid-column: 1/12;
    grid-row: 4/5;
    border: 1px solid black;
}

.content h2 {
    color: rgb(30, 50, 100);
    margin-bottom: 20px;
    border: 1px solid black;
    width: 150px;
    padding: 10px;
    background-color:#eededb; 


}

.content p {
    margin-bottom: 20px;
}

.additional-info {
    grid-column: 1/12;
    margin-top: 30px;
    background-color: rgb(245, 239, 232);
    padding: 20px;
    border: 1px solid black;
    

}

.additional-info h3 {
    color: rgb(30, 50, 100);
    border: 1px solid black;
    width: 200px;
    background-color:#eededb; 
    padding: 10px;
}

.additional-info ul {
    list-style-type: none;
    

}

.additional-info ul li {
    margin: 10px 0;
}



 .nave{
    color:#83C5BE;;
}
 



.footer {
    background-color: #222;
    color: white;
    padding: 20px;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    max-width: 100%;
    padding: 50px;
    align-content:stretch;
    justify-content:center;
    justify-content:space-between;
    margin-top: 2%;
    padding-right: 40px;
 }

 .footer-section h3 {
    margin-bottom: 10px;
 }

 .footer-section p {
    font-size: 14px;
 }

 .parte1 {
    grid-column:1/2;
    grid-row: 1/3;
    width:90px;
 }


 .parte1 li{
    display: flex;
    margin: 2%;
    padding: 10px;
    display: flex;
 }
 .redes{
    display: flex;

 }
 .redesh1{
    padding: 30px;
    font-size: 14px;

   
 }

 .iconos img{
    padding-left: 40px;
 }

 .iconos{
    display: flex;
   
 }

 .parte1 h3{
    padding-left:150px ;
    
 }

 .parte2 {
    grid-column:2/3;
    grid-row: 1/3;
 }

 .parte3 {
    grid-column:3/4;
    grid-row: 1/3;
 }

 .division2 {
    margin-top: -450px;
    border-left: 1px solid white;
    height: 400px;
    margin-left:400px;
 }
 .footer {
    background-color: #343a40;
    color: #ffffff;
    grid-column:1/13;
    grid-row:6/10;
    width:auto;
 }



#full-name{
    height: 100px;
    width: 300px;
}
.formulario3{
   background-color: azure;
    padding: 20px;
}


